h1 {
  border: none;
}
.region-header {
  display: flex;
  align-items: center;
}
.outer-wrap-header {
  height: auto;
}
.inner-wrap-header {
  display: flex;
  align-items: center;
  background-color: black;
  height: 4rem;
  color: white;
}
.inner-wrap-main {
  padding-top: 2rem;
}
.site-logo-text {
  text-shadow: none;
}
.rm-navbar {
  font-size: 1.2rem;
}
.rm-navbar-max {
  font-size: 1rem;
}
.region-breadcrumb {
  display: flex;
  align-items: center;
  height: 3rem;
}
.breadcrumb-list {
  margin: 0;
}
.outer-wrap-main {
  min-height: 40rem;
}
.region-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.region-main a {
  text-decoration: none;
  color: green;
}
.region-main a:hover {
  color: yellow;
}
.outer-wrap-flash-message {
  margin: 2rem 0;
}
.inner-wrap-flash-message {
  max-width: 40rem;
}
.flashmessage {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.6rem;
  border: none;
}
.button {
  background-color: #53d794;
  color: #124c2f;
  border: none;
  padding: 0.6rem 1.1rem;
  margin: 0 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
